@import url(https://fonts.googleapis.com/css?family=Noto+Serif+Malayalam:500&display=swap);

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-BookItalic.woff2") format("woff2"),
    url("../fonts/CircularStd-BookItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* ============================================================= */
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
/* =================================================================== */
body {
  color: #000;
}
.block {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  /* margin: 30px 10px 70px 30px; */
  /* margin: 50px 30px 20px; */
  /* margin: 20px 40px; */
  /* margin: 0px 0px -40px 0px; */
  /* margin: -20px 0px 0px 0px; */
  /* margin: 0px 0px 0px -170px; */
  /* margin: 30px auto; */
  margin: 0px 0px 30px 0px;
  /* margin: auto 100px; */
  /* padding: 40px 20px 55px 65px; */
  /* padding: 60px 30px; */
  /* padding: 40px 70px 20px; */
  /* width: 500px; */
  /* max-width: 500px; */
  /* min-width: 590px; */
  /* height: 200px; */
  /* max-height: 300px; */
  /* min-height: 500px;  */
  /* margin: 0 auto; */
  /* margin: 0px 0px 0px auto; */
  /* display: none; */
}
.block p {
  margin-bottom: 30px;
}
.block-2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  /* width: 500px; */
  /* padding: 30px; */
  /* margin: 10% 0px 0px 0px; */
  /* margin: 0px 0 20% 0px; */
  /* margin: -5% 0px 0px 0px; */
  /* margin: 20% 0px 0px 15%; */
  /* margin: 2% 15%; */
  /* max-width: 500px; */
  /* max-width: 70%; */
  /* margin: 5% auto; */
  /* margin: 0 auto; */
  /* display: none; */
}
.block__hidden {
  max-height: 200px;
  margin: 40px 0px;
  /* overflow: hidden; */
  overflow: auto;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: rgb(137, 207, 172);
}
.block__hidden .block__scroll {
  text-align: center;
  font-size: 28px;
}
.block__hidden h2 {
  font-size: 19px;
  color: rgb(192, 82, 82);
}
.block {
  text-align: center;
}
.block p {
  text-align: start;
}
.block-2 > p a {
  color: rgb(175, 49, 49);
}
.block-2 span {
  color: rgb(48, 126, 48);
}
.inline {
  font-family: "Noto Serif Malayalam", serif;
  font-weight: 300;
  font-style: italic;
  /* display: none; */
}
.inline-2 {
  font-family: "CircularStd", sans-serif;
  font-weight: 600;
  color: rgb(59, 47, 126);
  /* display: none; */
}

.footer {
  font-size: 20px;
  color: rgb(250, 56, 8);
  text-align: center;
  margin: 30px 0px;
}
.ex {
  background-color: rgb(226, 195, 195);
  width: 500px;
  margin: 0 auto;
  height: 200px;
  overflow: scroll;
  margin: 50px auto 0px;
  padding: 10px;
}
.ex span {
  color: rgb(68, 90, 82);
  display: inline-block;
  width: 300px;
  /* width: auto; */
  background-color: rgb(196, 159, 159);
}
.ex a {
  background-color: #fff;
  display: inline-block;
  width: 100px;
  /* width: 100%; */
  margin-top: 15px;
}
.ex-img {
  text-align: center;
  padding: 20px 0px 0px 0px;
  /* margin: -180px auto 0px; */
}
.ex-img img {
  margin: 0 0 0 auto;
  margin: 20px auto;
  display: block;
  padding: 40px;
  padding: 10% 5%;
}
